@import url("style-home.css");

.Classic-Hoop-Earring-Medium{
    
    display: flex;
    flex-wrap: wrap;
    background:#f9f8f3;
    padding:0 20px 0 20px;

}
.descrizione{
    top:100px;
    position:relative;
    display: block;
    padding:40px;
    width: 27.5%;
}

.remove{
    display: none;
}

.img1{
    padding:0 15px 0 15px;
    width:45%;
    height:auto;
}

.bottone1{
    width: 27.5%;
    top:200px;
    position: relative;
    padding:10px;
    height: auto;
}

.bottone2{
    width: 100%;
    display: none;
    padding:10px;
    height: auto;
}


.selector-container {
    position:relative;
    width: 100%;
    
}



.selector-container ul{
    padding:0;
}

.selector-container ul li{
    padding:5px;
    display:inline-block;
}

.line-selector{
    position:absolute;
    bottom:0;
    left:0;
    height:2px;
    width:37px;
    background-color: #000;
}

.active{
    color:#000
}

.add-to-cart{
    width: 100%;
    padding:18px 28px;
    background:#000;
    color: #f4f2e6;
    border-radius: 4px;
    display: inline-block;
    text-align:center;
}

.add-to-cart:hover{
    transform: scale(1.02);
    background: #424040;
}

.details{
   border-bottom:1px solid #b2b2b2;
   border-top:1px solid #b2b2b2;
}

.details:hover{
    transform: scale(1.02);
}

.details__content{
    max-height:0px;  
    overflow:hidden;
    transition: all 0.2s cubic-bezier(.215, .61, .355, 1);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
}

.details__content--open{
    max-height:300px;
}

.slider{
    width: 40%;
}
.main-carousel{
    background-color:#fff;
    width: 500px;
    padding: 0;
    margin:auto;
}

.carousel-cell {
    width:500px;
    height: 750px;
    margin-right: 0;
    margin: 0;
}


.carousel-cell__content{
    height:100%;
}

.color{
    background: #000;
}

@media (max-width:1050px) {
  .bottone1{
    display: none;
  }

  .bottone2{
    display: ruby;
    width: 100%;
  }

  .bottone2 h2{
    float: left;
    margin:60px 0 0 0;
  }
  .slider{
    width: 50%;
  }
  .selector-container{
    margin-bottom: 20px;
  }

  .main-carousel{
    width:450px;
    margin:auto;
  }

  .carousel-cell{
    height: 650px;
    width: auto;
  }
  .descrizione{
    width:45%;
    top:0px;
  }

  .descrizione h1{
    font-size: 30px;
    margin: 0;
  }


  .descrizione p{
    font-size: 13px;
    margin: 0;
  }

  .add-to-cart{
    padding:13px 23px;
}
  .details_title{
    font-size: 15px;
  }
    
}






/*! Flickity v3.0.0
https://flickity.metafizzy.co
---------------------------------------------- */
.flickity-enabled {
    position: relative
}

.flickity-enabled:focus {
    outline: 0
}

.flickity-viewport {
    overflow: hidden;
    position: relative;
    height: 100%;
    touch-action: pan-y
}

.flickity-slider {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0
}

.flickity-rtl .flickity-slider {
    left: unset;
    right: 0
}

.flickity-enabled.is-draggable {
    -webkit-tap-highlight-color: transparent;
    user-select: none
}

.flickity-enabled.is-draggable .flickity-viewport {
    cursor: move;
    cursor: grab
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
    cursor: grabbing
}

.flickity-cell {
    position: absolute;
    left: 0
}

.flickity-rtl .flickity-cell {
    left: unset;
    right: 0
}

.flickity-button {
    position: absolute;
    background: transparent;
    border: none;
    color: #333
}

.flickity-button:hover {
    background: #fff;
    cursor: pointer
}

.flickity-button:focus {
    outline: 0;
    box-shadow: 0 0 0 5px transparent
}

.flickity-button:active {
    opacity: .6
}

.flickity-button:disabled {
    opacity: .3;
    cursor: auto;
    pointer-events: none
}

.flickity-button-icon {
    fill: currentColor
}

.flickity-prev-next-button {
    top: 50%;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transform: translateY(-50%)
}

.flickity-prev-next-button.previous {
    left: 10px
}

.flickity-prev-next-button.next {
    right: 10px
}

.flickity-rtl .flickity-prev-next-button.previous {
    left: auto;
    right: 10px
}

.flickity-rtl .flickity-prev-next-button.next {
    right: auto;
    left: 10px
}

.flickity-prev-next-button .flickity-button-icon {
    position: absolute;
    left: 20%;
    top: 20%;
    width: 60%;
    height: 60%
}

.flickity-page-dots {
    position: absolute;
    width: 100%;
    
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    bottom: 15%;
    transform: rotate(90deg);
    left:55%;
}

.flickity-rtl .flickity-page-dots {
    direction: rtl
}

.flickity-page-dot {
    display: block;
    width: 10px;
    height: 10px;
    padding: 0;
    margin: 0 8px;
    background: hsl(0 0% 20% / 25%);
    border-radius: 50%;
    cursor: pointer;
    appearance: none;
    border: none;
    text-indent: -9999px;
    overflow: hidden
}

.flickity-rtl .flickity-page-dot {
    text-indent: 9999px
}

.flickity-page-dot:focus {
    outline: 0;
    box-shadow: 0 0 0 5px #19f
}

.flickity-page-dot.is-selected {
    background: hsl(0 0% 20% / 100%)
}




  *,
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }