*{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }

  .tb{
    color: #000;
  }

  /* HEADER */
  .header{
    width:100%;
    position:fixed;
    top:0;
    left:0;
    padding:17px;
    display: flex;
    max-width:1350px;
    z-index: 10;
  }

  .menu{
    transition: all 1s cubic-bezier(.215, .61, .355, 1);
    width:100%;
    z-index: 0;
    float:left;
  }

  .menu div {
    display: inline-block;
 }
 
 .menu div a{
   color: #000;
   padding:15px;
   display: block;
   text-decoration: none ;
 }

  .logo img{
    width:50px;
    height:50px; 
    position: fixed;
    left:50%;
    transform: translateX(-50%);
  }
















*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}