/* HEADER */

.header{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    padding:0px;
    position:fixed;
    background-color: #fff;
}

a{
    text-decoration: none ;
    color: #000;
}

/* HAMBURGER */

.hamburger{
    display:block;
    width:30px;
    height:30px;
    position:absolute;
    top:40px;
    left:30px;
    
}


.hamburger span{
    background: #000;
    height:3px;
    width:100%;
    display: block;
    margin-bottom:5px; 
}



/* MENU */


.menu{
   display:none;
  }

.menu--open{
    right:200px;
    background:#f4f2e6;
    height:100vh;
    width:100%;
    display:ruby;
   
    
}
.menu ul {
   padding:200px;
}

.menu li {
    list-style: none;
    padding:20px;
 }

/* LOGO */
.logo{
    margin: 0 auto;
}

.logo--none{
  display:none;
}

.immagine{
    width: 170px;
    height: 170px;
    transform: translateX(-25%);
}

@media (max-width: 768px){
    .immagine{
        width: 80px;
        height: 80px;
    }
    .menu ul{
        padding:100px;
    }
}


/* HERO */

.hero { 
    width:100%;
    margin: 0 auto;      
}

.hero img{
    width: 100%; 
    height:auto;
}



























*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}