.body{
    background-color: #f9f8f3;
}


.italiana-regular {
    font-family: "Italiana", sans-serif;
    font-style: normal;
    font-variant: small-caps;

  }

.separatore{
    background: #fff;
    height: 20px;
    width: 100%;
}

/* HEADER */

.header{
    width:auto;
    display: flex;
    flex-wrap: wrap;
    padding:0px;
    background-color:#f9f8f3;
    height: 100px;
}

a{
    text-decoration: none ;
    color: #000;
}

p{
    line-height:28px;
    color: #666;
    font-weight: 300;
  }
  .big-text{
    font-size: 70px;
    font-weight: 900;
  }
  .med-text{
    font-size: 40px;
  }
  .normal-text{
    font-size: 20px;
  }
  .small-text{
    font-size: 14px;
  }
  .intro-text{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
  }

/* HAMBURGER */


input[type="checkbox"]{
    visibility: hidden;
    display: none;
}

.bar{
    position: absolute;
    cursor: pointer;
    display: flex;
    justify-content: center;
    top:45px;
    left:55px;
    z-index: 21;
}

.bar .middle{
    height: 3px;
    width: 40px;
    background: #000;
    position: absolute;
    transition: 0.3s ease; 
}

.bar .top{
    bottom:7px;
    height: 3px;
    width: 40px;
    background: #000;
    position: absolute;
    transition: 0.3s ease; 
}

.bar .bottom{
    top:10px;
    bottom:14px;
    height: 3px;
    width: 40px;
    background: #000;
    position: absolute;
    transition: 0.3s ease; 
}

input[type="checkbox"]:checked ~ .bar .top{
    transform:rotate(-45deg);
    width: 70px;
    transform-origin: right;
    top:-25px;
}

input[type="checkbox"]:checked ~ .bar .bottom{
    transform:rotate(45deg);
    width: 70px;
    transform-origin: right;
    top:25px;
}

input[type="checkbox"]:checked ~ .bar .middle{
    transform: translate(20px);
    opacity: 0; 
}


@media (max-width: 500px){

    .bar{
        top:35px;
        left: 35px;
    }

    .bar .middle{
        height: 3px;
        width: 30px;
    }

    .bar .top{
        bottom:3.5px;
        height: 3px;
        width: 30px;
    }

    .bar .bottom{
        top:7px;
        height: 2.5px;
        width: 30px;
    }
 }

/* MENU */

.menu{
   display:none;
   transition: all 1s cubic-bezier(.215, .61, .355, 1);
  }

.menu--open{
    background:#f4f2e6;
    height:100vh;
    width:100%;
    display:ruby;
    z-index: 10;

   
}
.menu ul {
   padding:200px;
}

.menu li {
    list-style: none;
    padding:30px;
 }

.menu a:hover{
    color: #424040;
    font-size:45px;
    text-decoration:underline;
}



/* LOGO */
.logo{
    margin: 0 auto;
}

.immagine{
    width: 100px;
    height: 100px;
    transform: translateX(-25%);
}

@media (max-width: 768px){
    .menu ul{
        padding:100px;
    }
}


/* HERO */

.hero { 
    position:relative;  
    top:0;
    display: flex;
    background-size:cover fill;
    background:url('home.jpg') no-repeat center center;
    min-height:800px;
    width:auto;
    
}

.cover__content{
    position:absolute;
    width:auto;
    top:60%;
    right: 45%;

 }

.button{
    padding:18px 28px;
    background:#000;
    color: #f4f2e6;
    border-radius: 4px;
    display: inline-block;
  }

.button:hover{
    background: #424040;
    transform: scale(1.1);
     
}

@media (max-width: 768px){
   .hero{
    background-size:fill cover;
    
   }
    .cover__content{
        right: 36%;
    }
}

@media (max-width: 500px){
    .hero{
     min-height:600px;
    }
    .cover__content{
       top:65%;
       right: 33%;
    }

 }

/* CATEGORIE */

.expl{
    width: 100%;
    display: inline-block;
    position: relative;
}
.span{
    background: #000;
    height: 2px;
    width: 100%;
    position:absolute;
}
.categorie{
    height: auto;
    background: #f9f8f3;
    width: 100%;
    padding-bottom: 100px;
}

.cards {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    margin: 0 auto;
    width:790px;
    /* height: auto; */
    /* padding-top: 200px; */
    padding-bottom: 100px;
    padding-left: 70px;
    padding-right: 70px;
}

.categorie_container{

    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width:790px;
    height: auto;
    padding-top: 200px;
    padding-bottom: 100px;
    padding-left: 70px;
    padding-right: 70px;
    

}

.categorie_container a{
    
    width:33.33%;
    display: block;
    padding:4px;
    height: 320px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.categorie_container a img{
    max-width: 100%; 
    max-height: 100%; 
    display:block;
    object-fit: fill;
    height: 100vh;
    width: 100%;
       
}

.categorie_container a:hover{
    transform: scale(1.034);
    background:#f9f8f3;
    opacity: 0.8;
}

.categorie_container a:after{
  opacity: 0.2;
  background: #000;
}

.categorie_container a div {
    position: absolute;
    color:#000;
    padding: 10px;
    height: 50px;
    bottom: 10px;
    left: 0;
    width: auto; 
    font-size: 33px;
    font-weight: 500;
}
.testo{
    display: inline-block;
    width: auto;
}
.categorie_container a span{
    background: #000;
    height: 2px;
    width:100%;
    bottom: 25px;
    left: 100px;
    position: absolute;
}

.categorie_container p{
    margin: 0;
    position: absolute;
    color: #000;
    font-size: 33px;
}
.categorie h1{
    position: relative;
    top:180px;
    text-align: center;
    font-weight: bolder;

}

.testo{
    display: inline-flex;
}

@media (max-width:768px) {

    .categorie_container{
        padding-left: 30px;
        padding-right: 30px;
        width: 470px;
        margin-top: 60px;
    }

    .categorie_container a{
        height: 250px;
    }


    .categorie_container div{
        font-size: 24px;
        bottom: -10px;
      
    }
    
}

@media (max-width:500px) {

    .categorie_container{
        width: 350px;
        margin-top: 30px;
        padding-top: 100px;
    }
    .categorie_container a{
        height: 190px;
    }

    .categorie_container div{
        font-size: 20px;
        bottom: -10px;
    }
    
    .categorie h1{
        top:50px;
    }
    .new-arrivals{
        bottom:20px;
    }
    
}


/* CAROUSEL */
.in-evidence{
    top:27px;
    position: relative;
}
.main-carousel{
    padding-top:70px;
    margin-bottom: 100px;
    background-color:#fff;
  }
  .carousel-cell{
    height:550px;
    width:400px;
    margin-right: 40px;  
    background:#fff;
    border: 2px solid #e9e5e1;
    position: relative;
    
  }
  
  .carousel-cell__content{
    width: 100%;
    height: 90%;
    background-color:#e9e5e1;
    border-radius: 0;
    line-height: 350px;
    text-align: center;
  }



  .carousel-cell__content img{
    width: 100%;
    height: 100%;
  }

  .carousel-cell h1{
    bottom:17px;
    left: 10px;
    color: #000;
    position: absolute;
    font-size: 15px;
  }

  .carousel-cell p{
    bottom:-15px;
    left: 10px;
    position: absolute;
    font-weight: 500;
  }


/* POSTER */

.poster{
    display:flex;
    height:100vh;
    width: 100%;
    align-items: center;
    background-color: #f9f8f3;
}  
  .poster__ing{
    width:65%;
    height: 100%;
  }
  .poster__ing img{
    object-fit: cover;
    width:100%;
    height:100%;
  }
  .poster__content{
    width:35%;
    padding:50px;
  }
  
  @media (max-width: 768px) {
    .poster{
      flex-wrap:wrap; 
      height:auto;  
    }
  
    .poster__ing img,
    .poster__content{
      width:100%;
  
    }
  }
  



*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}